<div class="modal-header d-flex justify-content-between align-items-center">
    <h4 class="modal-title">{{ editMode ? 'Update' : 'Add' }} Area</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>

<div *ngIf="isLoading" class="loading-overlay">
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<div class="mx-5">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="row align-items-center gy-3 mt-4 mx-7">

            
            <div class="col-md-6 m-0">
                <div class="card-title">Country</div>
                <div class="card-body">
                    <select [ngClass]="{'is-invalid': userForm.get('country')?.invalid && userForm.get('country')?.touched, 'blink-border': userForm.get('country')?.invalid && userForm.get('country')?.touched}"
                     class="form-control" formControlName="country">
                        <option value="" disabled>Select a Country</option>
                        <option value="pakistan">Pakistan</option>
                    </select>
                </div>
                <div class="extra-space">
                    <ng-container *ngIf="userForm.get('country')?.hasError('required') && userForm.get('country')?.touched">
                        <span class="text-danger">Select a Country</span>
                    </ng-container>
                </div>
            </div>


            <div class="col-md-6 m-0">
                <div class="card-title">City</div>
                <div class="card-body">
                    <select [ngClass]="{'is-invalid': userForm.get('city')?.invalid && userForm.get('city')?.touched, 'blink-border': userForm.get('city')?.invalid && userForm.get('city')?.touched}"
                     class="form-control" formControlName="city">
                        <option value="" disabled>Select a City</option>
                        <option value="gujrat">Gujrat</option>
                    </select>
                </div>
                <div class="extra-space">
                    <ng-container *ngIf="userForm.get('city')?.hasError('required') && userForm.get('city')?.touched">
                        <span class="text-danger">Select a City</span>
                    </ng-container>
                </div>
            </div>


             <div class="col-md-6 m-0">
                <div class="card-title">Locality</div>
                <div class="card-body">
                    <select [ngClass]="{'is-invalid': userForm.get('locality')?.invalid && userForm.get('locality')?.touched, 'blink-border': userForm.get('locality')?.invalid && userForm.get('locality')?.touched}"
                     class="form-control" formControlName="locality">
                        <option value="" disabled>Select a Locality</option>
                        <option value="locality">Locality</option>
                    </select>
                </div>
                <div class="extra-space">
                    <ng-container *ngIf="userForm.get('locality')?.hasError('required') && userForm.get('locality')?.touched">
                        <span class="text-danger">Select a Locality</span>
                    </ng-container>
                </div>
            </div>


            <div class="col-md-6 m-0">
                <label for="validationDefault01" class="form-label">Sublocality</label>
                <input type="text" class="form-control"
                    [ngClass]="{'is-invalid': userForm.get('sublocality')?.invalid && userForm.get('sublocality')?.touched, 'blink-border': userForm.get('sublocality')?.invalid && userForm.get('sublocality')?.touched}"
                    formControlName="sublocality" id="validationDefault01" placeholder="Enter Sublocality">
                <div class="extra-space">
                    <ng-container
                        *ngIf="userForm.get('sublocality')?.hasError('required') && userForm.get('sublocality')?.touched;">
                        <span class="text-danger">Sublocality is required</span>
                    </ng-container>
                </div>
            </div>







            <div class="modal-footer">
                <button type="button" class="btn btn-secondary-light" (click)="activeModal.close()">
                    Close
                </button>

                <button class="btn btn-primary" type="submit" [disabled]="isLoading || isSaving">
                    <span *ngIf="!isSaving"> {{ editMode ? 'Update' : 'Save' }}</span>
                    <span *ngIf="isSaving" class="d-flex align-items-center">
                        <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
                        {{ editMode ? 'Updating...' : 'Saving...' }}
                    </span>
                </button>

            </div>
        </div>
    </form>

</div>