<div *ngIf="!showDashboard" class="hero-container">
    <div class="hero-card">

        <!-- LOGO -->
        <div class="logo-wrapper">
            <img src="assets/ranjha-logo3.jpeg" alt="logo" class="logo-img">
            <div class="logo-ring"></div>
        </div>

        <!-- BRAND -->
        <h1 class="brand-text">
            Ranjha7Star
        </h1>

        <p class="subtitle">
            <i class="fas fa-bolt"></i> Fast Cable & Internet Services
        </p>

        <!-- BUTTON -->
        <button class="enter-btn" (click)="goToDashboard()">
            <i class="fas fa-arrow-right"></i> Enter Dashboard
        </button>

    </div>
</div>


<div class="background-color">

    <!-- DASHBOARD SECTION -->
    <section *ngIf="showDashboard" id="dashboards">


        <h3 class="dashboard-title d-flex justify-content-center align-items-center gap-2">
            <i class="fas fa-chart-pie"></i>
            Ranjha7star Dashboard
        </h3>




        <div class="dashboard">
            <div class="card card-1" routerLink="/user-details">
                <div class="icon">
                    <i class="fas fa-user"></i>
                </div>
                <h3>Users: {{ getTotalUsers('areaUsers') }}</h3>
                <p>Count of total users</p>
            </div>

            <div class="card card-2" routerLink="/package-details">
                <div class="icon">
                    <i class="fas fa-chart-line"></i>
                </div>
                <h3>Packages: {{ getTotalAreas('packageUsers') }}</h3>
                <p>All Packages we have</p>
            </div>

            <div class="card card-3" routerLink="/area-details">
                <div class="icon">
                    <i class="fas fa-map-marked-alt"></i>
                </div>
                <h3>Areas: {{ getTotalAreas('areaUsers') }}</h3>
                <p>All Areas we have</p>
            </div>

            <div class="card card-8" routerLink="/bill-creator">
                <div class="icon">
                    <i class="fas fa-money-bill-wave"></i>
                </div>
                <h3>Amount: {{ totalAmount }}</h3>
                <p>Total Bill generated this month</p>
            </div>

            <div class="card card-4" routerLink="/recovery-details">
                <div class="icon">
                    <i class="fas fa-money-bill-wave"></i>
                </div>
                <h3>Expenses: {{ totalExpenses }}</h3>
                <p>Total Expenses this Month</p>
            </div>

            <!-- Recovery -->
            <div class="card card-5" routerLink="/recovery-details">
                <div class="icon">
                    <i class="fas fa-hand-holding-usd"></i>
                </div>
                <h3>Recovery: {{ totalRecovery }}</h3>
                <p>Total Recovery this Month</p>
            </div>

            <!-- Profit -->
            <div class="card card-6" routerLink="/recovery-details">
                <div class="icon">
                    <i class="fas fa-chart-line"></i>
                </div>
                <h3>Profit: {{ totalProfit }}</h3>
                <p>Total Profit this Month</p>
            </div>

            <div class="card card-7" routerLink="/new-connection">
                <div class="icon">
                    <i class="fas fa-user-plus"></i>
                </div>
                <h3>New Connections: {{ totalNewConnections }}</h3>
                <p>New Connection added this month</p>
            </div>


        </div>


        <!-- <div class="dashboard-buttons">

        <button class="dash-btn" (click)="openUserModal()">
            <i class="fas fa-user-circle"></i>
            <span>User Details</span>
        </button>

        <button class="dash-btn" (click)="openNewConnectionModal()">
            <i class="fas fa-network-wired"></i>
            <span>New Connection</span>
        </button>

        <button class="dash-btn" (click)="openExpensesModal()">
            <i class="fas fa-money-bill-wave"></i>
            <span>Expenses</span>
        </button>

        <button class="dash-btn" (click)="openRecoveryOfficerModal()">
            <i class="fas fa-user-shield"></i>
            <span>Recovery Officer</span>
        </button>

        <button class="dash-btn" (click)="openAreaDetailsModal()">
            <i class="fas fa-map-marked-alt"></i>
            <span>Area Details</span>
        </button>

        <button class="dash-btn" (click)="openCustomerStatusModal()">
            <i class="fas fa-user-check"></i>
            <span>Customer Status</span>
        </button>

    </div> -->


        <div class="dashboard-buttons">

            <button class="dash-btn btn-1" (click)="openUserModal()">
                <i class="fas fa-user-circle"></i>
                <span>User Details</span>
            </button>

            <button class="dash-btn btn-2" (click)="openNewConnectionModal()">
                <i class="fas fa-wifi"></i>
                <span>New Connection</span>
            </button>

            <button class="dash-btn btn-3" (click)="openExpensesModal()">
                <i class="fas fa-wallet"></i>
                <span>Expenses</span>
            </button>

            <button class="dash-btn btn-4" (click)="openRecoveryOfficerModal()">
                <i class="fas fa-user-shield"></i>
                <span>Recovery Officer</span>
            </button>

            <button class="dash-btn btn-5" (click)="openAreaDetailsModal()">
                <i class="fas fa-map-location-dot"></i>
                <span>Area Details</span>
            </button>

            <button class="dash-btn btn-6" (click)="openCustomerStatusModal()">
                <i class="fas fa-user-check"></i>
                <span>Customer Status</span>
            </button>

        </div>

        <div class="grid-container mt-2">
            <div class="grid-item" id="area-details" [class.fullscreen]="expandedChartId === 'area-details'"
                [hidden]="expandedChartId && expandedChartId !== 'area-details'">
                <div class="d-flex justify-content-between align-items-center">
                    <h4>Area Detail</h4>
                    <div class="d-flex align-items-center">
                        <!-- <a class="expand-btn text-decoration-none" (click)="toggleExpand('area-details')">
                        {{ expandedChartId === 'area-details' ? '&#8722;' : '&#9744;' }}
                    </a> -->
                    </div>
                </div>
                <div class="chart-wrapper">
                    <div *ngIf="charts['areaUsers']">

                        <apx-chart [series]="charts['areaUsers'].chartOptions.series"
                            [chart]="charts['areaUsers'].chartOptions.chart"
                            [plotOptions]="charts['areaUsers'].chartOptions.plotOptions"
                            [xaxis]="charts['areaUsers'].chartOptions.xaxis"
                            [dataLabels]="charts['areaUsers'].chartOptions.dataLabels"
                            [title]="charts['areaUsers'].chartOptions.title">
                        </apx-chart>

                        <div class="d-flex justify-content-between mt-3">
                            <button (click)="prevPage('areaUsers','Users by Area')"
                                [disabled]="charts['areaUsers'].currentPage === 0">
                                <i class="fas fa-chevron-left"></i>
                            </button>

                            <!-- Center Info -->
                            <div class="text-center fw-semibold">
                                <div>Total Areas: {{ getTotalAreas('areaUsers') }}</div>
                                <div>Total Users: {{ getTotalUsers('areaUsers') }}</div>
                            </div>

                            <button (click)="nextPage('areaUsers','Users by Area')"
                                [disabled]="(charts['areaUsers'].currentPage + 1) * charts['areaUsers'].pageSize >= charts['areaUsers'].categories.length">
                                <i class="fas fa-chevron-right"></i>
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <div class="grid-container">
            <div class="grid-item" id="package-details" [class.fullscreen]="expandedChartId === 'packageUsers'"
                [hidden]="expandedChartId && expandedChartId !== 'packageUsers'">

                <div class="d-flex justify-content-between align-items-center">
                    <h4>Package Detail</h4>
                    <div class="d-flex align-items-center">
                        <!-- <a class="expand-btn text-decoration-none" (click)="toggleExpand('packageUsers')">
                        {{ expandedChartId === 'packageUsers' ? '&#8722;' : '&#9744;' }}
                    </a> -->
                    </div>
                </div>

                <div class="chart-wrapper" *ngIf="charts['packageUsers']">

                    <apx-chart [series]="charts['packageUsers'].chartOptions.series"
                        [chart]="charts['packageUsers'].chartOptions.chart"
                        [plotOptions]="charts['packageUsers'].chartOptions.plotOptions"
                        [xaxis]="charts['packageUsers'].chartOptions.xaxis"
                        [dataLabels]="charts['packageUsers'].chartOptions.dataLabels"
                        [title]="charts['packageUsers'].chartOptions.title">
                    </apx-chart>

                    <div class="d-flex justify-content-between mt-3">
                        <button (click)="prevPage('packageUsers','Users by Package')"
                            [disabled]="charts['packageUsers'].currentPage === 0">
                            <i class="fas fa-chevron-left"></i>
                        </button>

                        <!-- Center Info -->
                        <div class="text-center fw-semibold">
                            <div>Total Packages: {{ getTotalAreas('packageUsers') }}</div>
                            <div>Total Users: {{ getTotalUsers('packageUsers') }}</div>
                        </div>

                        <button (click)="nextPage('packageUsers','Users by Package')"
                            [disabled]="(charts['packageUsers'].currentPage + 1) * charts['packageUsers'].pageSize >= charts['packageUsers'].categories.length">
                            <i class="fas fa-chevron-right"></i>
                        </button>
                    </div>

                </div>
            </div>
        </div>




        <div class="grid-container">
            <div class="grid-item" id="bill-collection" [class.fullscreen]="expandedChartId === 'bill-collection'"
                [hidden]="expandedChartId && expandedChartId !== 'bill-collection'">
                <div class="d-flex justify-content-between align-items-center mb-1">
                    <h4>Bill Collection</h4>
                    <div class="d-flex align-items-center">
                    </div>
                </div>
                <div class="chart-wrapper" *ngIf="charts['billCollection']">

                    <apx-chart *ngIf="charts['billCollection']" [series]="charts['billCollection'].chartOptions.series"
                        [chart]="charts['billCollection'].chartOptions.chart"
                        [xaxis]="charts['billCollection'].chartOptions.xaxis"
                        [dataLabels]="charts['billCollection'].chartOptions.dataLabels"
                        [title]="charts['billCollection'].chartOptions.title"
                        [stroke]="charts['billCollection'].chartOptions.stroke"
                        [tooltip]="charts['billCollection'].chartOptions.tooltip">
                    </apx-chart>

                </div>
            </div>
        </div>


        <div class="grid-container">
            <div class="grid-item" id="bill-creator" [class.fullscreen]="expandedChartId === 'billCreator'"
                [hidden]="expandedChartId && expandedChartId !== 'billCreator'">

                <div class="d-flex justify-content-between align-items-center mb-1">
                    <h4>Monthly Users & Bills</h4>
                </div>

                <div *ngIf="charts['billCreatorPie']">
                    <apx-chart [series]="charts['billCreatorPie'].chartOptions.series"
                        [chart]="charts['billCreatorPie'].chartOptions.chart"
                        [labels]="charts['billCreatorPie'].chartOptions.labels"
                        [dataLabels]="charts['billCreatorPie'].chartOptions.dataLabels"
                        [tooltip]="charts['billCreatorPie'].chartOptions.tooltip"
                        [title]="charts['billCreatorPie'].chartOptions.title">
                    </apx-chart>
                </div>
            </div>
        </div>

    </section>

</div>