.content-body {
  display: flex;
  min-height: 100vh;
  background-color: #f8f9fa;
}

.custom-btn {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1100;
}



/* Sidebar */
.sidebar {
  width: 250px;
  background: linear-gradient(135deg, #003366, #336699);
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1rem;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;

  .sidebar-title {
    font-size: 1.4rem;
    font-weight: 600;
    color: #fff;
  }

  .nav-link {
    padding: 10px 15px;
    border-radius: 5px;
    margin-bottom: 5px;
    transition: 0.3s;

    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
      color: #fff;
    }

    &.active {
      background-color: #007bff !important;
      color: white;
      font-weight: 500;
    }
  }

  button {
    margin-top: auto;
  }
}

/* Main Content */
.main-content {
  flex-grow: 1;
  transition: margin-left 0.3s;
}

/* Mobile Responsiveness */
@media (max-width: 992px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    transition: transform 0.3s ease-in-out;
  }

  

  .main-content {
    margin-left: 0;
  }
}
