<div class="modal-content-wrapper">
    <div class="modal-header d-flex justify-content-between align-items-center">
        <h4 class="modal-title">{{ editMode ? 'Update' : 'Add' }} Recovery Details</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
    </div>

    <div *ngIf="isLoading" class="loading-overlay">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    <div class="mx-5">
        <form [formGroup]="expenseForm" (ngSubmit)="onSubmit()">
            <div class="row align-items-center gy-3 mt-4 mx-7">


                <div class="col-md-4 m-0">
                    <label for="validationDefault03" class="form-label">Recovery Date</label>
                    <input type="date" class="form-control" formControlName="date"
                        [ngClass]="{'is-invalid': expenseForm.get('date')?.invalid && expenseForm.get('date')?.touched, 'blink-border': expenseForm.get('date')?.invalid && expenseForm.get('date')?.touched}"
                        id="validationDefault03" placeholder="Enter Date">
                    <div class="extra-space">
                        <ng-container
                            *ngIf="expenseForm.get('date')?.hasError('required') && expenseForm.get('date')?.touched; ">
                            <span class="text-danger" id="date">Date is required</span>
                        </ng-container>
                    </div>
                </div>


                  <div class="col-xl-4 m-0">
                    <label class="form-label">Operator Name</label>

                    <select class="form-control" formControlName="operator_name" [ngClass]="{
      'is-invalid': expenseForm.get('operator_name')?.invalid && expenseForm.get('operator_name')?.touched,
      'blink-border': expenseForm.get('operator_name')?.invalid && expenseForm.get('operator_name')?.touched
    }">
                        <option value="" disabled>Select Operator</option>

                        <!-- Optional -->
                        <!-- <option value="">All</option> -->

                        <option *ngFor="let operator of internetOperators" [value]="operator.operator_name">
                            {{ operator.operator_name | titlecase }}
                        </option>
                    </select>

                    <div class="extra-space">
                        <ng-container
                            *ngIf="expenseForm.get('operator_name')?.hasError('required') && expenseForm.get('operator_name')?.touched">
                            <span class="text-danger">Operator Name is required</span>
                        </ng-container>
                    </div>
                </div>


                  <div class="col-md-4 m-0">
                    <div class="card-title">Sublocality</div>
                    <div class="card-body">
                        <select
                            [ngClass]="{'is-invalid': expenseForm.get('sublocality')?.invalid && expenseForm.get('sublocality')?.touched, 'blink-border': expenseForm.get('sublocality')?.invalid && expenseForm.get('sublocality')?.touched}"
                            class="form-control" formControlName="sublocality">
                            <option value="" disabled>Select a Sublocality</option>
                            <option *ngFor="let area of internetAreas" [value]="area.sublocality">
                                {{ area.sublocality | titlecase }}
                            </option>
                        </select>
                    </div>
                    <div class="extra-space">
                        <ng-container
                            *ngIf="expenseForm.get('sublocality')?.hasError('required') && expenseForm.get('sublocality')?.touched">
                            <span class="text-danger">Select a Sublocality</span>
                        </ng-container>
                    </div>
                </div>




                <div class="col-xl-4 m-0">
                    <label for="validationDefault01" class="form-label">Total Recovery</label>
                    <input type="number" class="form-control"
                        [ngClass]="{'is-invalid': expenseForm.get('total_recovery')?.invalid && expenseForm.get('total_recovery')?.touched, 'blink-border': expenseForm.get('total_recovery')?.invalid && expenseForm.get('total_recovery')?.touched}"
                        formControlName="total_recovery" id="validationDefault01" placeholder="Enter Amount">
                    <div class="extra-space">
                        <ng-container
                            *ngIf="expenseForm.get('total_recovery')?.hasError('required') && expenseForm.get('total_recovery')?.touched;">
                            <span class="text-danger">Total Recovery is required</span>
                        </ng-container>
                    </div>

                </div>



                  <div class="col-xl-4 m-0">
                    <label for="validationDefault01" class="form-label">Total Expenses</label>
                    <input type="number" class="form-control"
                        [ngClass]="{'is-invalid': expenseForm.get('total_expenses')?.invalid && expenseForm.get('total_expenses')?.touched, 'blink-border': expenseForm.get('total_expenses')?.invalid && expenseForm.get('total_expenses')?.touched}"
                        formControlName="total_expenses" id="validationDefault01" placeholder="Enter Amount">
                    <div class="extra-space">
                        <ng-container
                            *ngIf="expenseForm.get('total_expenses')?.hasError('required') && expenseForm.get('total_expenses')?.touched;">
                            <span class="text-danger">Total Expenses is required</span>
                        </ng-container>
                    </div>

                </div>


                
                  <div class="col-xl-4 m-0">
                    <label for="validationDefault01" class="form-label">Remaining Amount</label>
                    <input type="number" class="form-control"
                        [ngClass]="{'is-invalid': expenseForm.get('remaining_amount')?.invalid && expenseForm.get('remaining_amount')?.touched, 'blink-border': expenseForm.get('remaining_amount')?.invalid && expenseForm.get('remaining_amount')?.touched}"
                        formControlName="remaining_amount" id="validationDefault01" placeholder="Enter Amount">
                    <div class="extra-space">
                        <ng-container
                            *ngIf="expenseForm.get('remaining_amount')?.hasError('required') && expenseForm.get('remaining_amount')?.touched;">
                            <span class="text-danger">Remaining Amount is required</span>
                        </ng-container>
                    </div>

                </div>


                  <div class="col-xl-4 m-0">
                    <label class="form-label">Recieved By</label>

                    <select class="form-control" formControlName="recieved_by" [ngClass]="{
      'is-invalid':
        expenseForm.get('recieved_by')?.invalid &&
        expenseForm.get('recieved_by')?.touched,
      'blink-border':
        expenseForm.get('recieved_by')?.invalid &&
        expenseForm.get('recieved_by')?.touched
    }">
                        <option value="">Select Recieved By</option>

                        <option *ngFor="let name of recievedByList" [value]="name">
                            {{ name }}
                        </option>
                    </select>

                    <div class="extra-space">
                        <ng-container *ngIf="
        expenseForm.get('recieved_by')?.hasError('required') &&
        expenseForm.get('recieved_by')?.touched
      ">
                            <span class="text-danger">Recieved By is required</span>
                        </ng-container>
                    </div>
                </div>



                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary-light" (click)="activeModal.close()">
                        Close
                    </button>

                    <button class="btn btn-primary" type="submit" [disabled]="isLoading || isSaving">
                        <span *ngIf="!isSaving"> {{ editMode ? 'Update' : 'Save' }}</span>
                        <span *ngIf="isSaving" class="d-flex align-items-center">
                            <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
                            {{ editMode ? 'Updating...' : 'Saving...' }}
                        </span>
                    </button>

                </div>
            </div>
        </form>

    </div>


</div>