<div class="modal-content-wrapper">
    <div class="modal-header d-flex justify-content-between align-items-center">
        <h4 class="modal-title">{{ editMode ? 'Update' : 'Add' }} Customer Status</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
    </div>

    <div *ngIf="isLoading" class="loading-overlay">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    <div class="mx-5">
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
            <div class="row align-items-center gy-3 mt-4 mx-7">


                <div class="col-xl-4 m-0">
                    <label for="validationDefault01" class="form-label">Customer Name</label>
                    <input type="text" class="form-control"
                        [ngClass]="{'is-invalid': userForm.get('user_name')?.invalid && userForm.get('user_name')?.touched, 'blink-border': userForm.get('user_name')?.invalid && userForm.get('user_name')?.touched}"
                        formControlName="user_name" id="validationDefault01" placeholder="Enter Name">
                    <div class="extra-space">
                        <ng-container
                            *ngIf="userForm.get('user_name')?.hasError('required') && userForm.get('user_name')?.touched;">
                            <span class="text-danger">User Name is required</span>
                        </ng-container>
                    </div>

                </div>


                <div class="col-xl-4 m-0">
                    <label for="validationDefault01" class="form-label">Internet ID</label>
                    <input type="text" class="form-control"
                        [ngClass]="{'is-invalid': userForm.get('internet_id')?.invalid && userForm.get('internet_id')?.touched, 'blink-border': userForm.get('internet_id')?.invalid && userForm.get('internet_id')?.touched}"
                        formControlName="internet_id" id="validationDefault01" placeholder="Enter Internet ID">
                    <div class="extra-space">
                        <ng-container
                            *ngIf="userForm.get('internet_id')?.hasError('required') && userForm.get('internet_id')?.touched;">
                            <span class="text-danger">Internet ID is required</span>
                        </ng-container>
                    </div>

                </div>


                <div class="col-md-4 m-0">
                    <div class="card-title">Sublocality</div>
                    <div class="card-body">
                        <select
                            [ngClass]="{'is-invalid': userForm.get('sublocality')?.invalid && userForm.get('sublocality')?.touched, 'blink-border': userForm.get('sublocality')?.invalid && userForm.get('sublocality')?.touched}"
                            class="form-control" formControlName="sublocality">
                            <option value="" disabled>Select a Sublocality</option>
                            <option *ngFor="let area of internetAreas" [value]="area.sublocality">
                                {{ area.sublocality | titlecase }}
                            </option>
                        </select>
                    </div>
                    <div class="extra-space">
                        <ng-container
                            *ngIf="userForm.get('sublocality')?.hasError('required') && userForm.get('sublocality')?.touched">
                            <span class="text-danger">Select a Sublocality</span>
                        </ng-container>
                    </div>
                </div>







                <div class="col-xl-4 m-0">
                    <label for="validationDefault01" class="form-label">Package Name</label>
                    <input type="text" class="form-control"
                        [ngClass]="{'is-invalid': userForm.get('package_name')?.invalid && userForm.get('package_name')?.touched, 'blink-border': userForm.get('package_name')?.invalid && userForm.get('package_name')?.touched}"
                        formControlName="package_name" id="validationDefault01" placeholder="Enter Package">
                    <div class="extra-space">
                        <ng-container
                            *ngIf="userForm.get('package_name')?.hasError('required') && userForm.get('package_name')?.touched;">
                            <span class="text-danger">Package is required</span>
                        </ng-container>
                    </div>

                </div>

                <div class="col-xl-4 m-0">
                    <label for="validationDefault01" class="form-label">Phone Number</label>
                    <input type="text" class="form-control"
                        [ngClass]="{'is-invalid': userForm.get('phone_number')?.invalid && userForm.get('phone_number')?.touched, 'blink-border': userForm.get('phone_number')?.invalid && userForm.get('phone_number')?.touched}"
                        formControlName="phone_number" id="validationDefault01" placeholder="Enter Phone Number">
                    <div class="extra-space">
                        <ng-container
                            *ngIf="userForm.get('phone_number')?.hasError('required') && userForm.get('phone_number')?.touched;">
                            <span class="text-danger">Phone Number is required</span>
                        </ng-container>
                    </div>

                </div>


                <div class="col-md-4 m-0">
                    <label for="validationDefault03" class="form-label">Address</label>
                    <input type="text" class="form-control" formControlName="address"
                        [ngClass]="{'is-invalid': userForm.get('address')?.invalid && userForm.get('address')?.touched, 'blink-border': userForm.get('address')?.invalid && userForm.get('address')?.touched}"
                        id="validationDefault03" placeholder="Enter Address">
                    <div class="extra-space">
                        <ng-container
                            *ngIf="userForm.get('address')?.hasError('required') && userForm.get('address')?.touched; ">
                            <span class="text-danger" id="address">Address is required</span>
                        </ng-container>
                    </div>
                </div>


                <div class="col-md-4 m-0">
                    <div class="card-title">Connection Status</div>
                    <div class="card-body">
                        <select
                            [ngClass]="{'is-invalid': userForm.get('connection_status')?.invalid && userForm.get('connection_status')?.touched, 'blink-border': userForm.get('connection_status')?.invalid && userForm.get('connection_status')?.touched}"
                            class="form-control" formControlName="connection_status">
                            <option value="" disabled>Select Connection Status</option>
                            <option value="close">Close</option>
                            <option value="reopen">Reopen</option>

                        </select>
                    </div>
                    <div class="extra-space">
                        <ng-container
                            *ngIf="userForm.get('connection_status')?.hasError('required') && userForm.get('connection_status')?.touched">
                            <span class="text-danger">Select a Connection Status</span>
                        </ng-container>
                    </div>
                </div>


                <div *ngIf="connectionStatus === 'close'" class="col-md-4 m-0">
                    <label for="validationDefault03" class="form-label">Close Date</label>
                    <input type="date" class="form-control" formControlName="close_date"
                        [ngClass]="{'is-invalid': userForm.get('close_date')?.invalid && userForm.get('close_date')?.touched, 'blink-border': userForm.get('close_date')?.invalid && userForm.get('close_date')?.touched}"
                        id="validationDefault03" placeholder="Enter Close Date">
                    <div class="extra-space">
                        <ng-container
                            *ngIf="userForm.get('close_date')?.hasError('required') && userForm.get('close_date')?.touched; ">
                            <span class="text-danger" id="close_date">Close Date is required</span>
                        </ng-container>
                    </div>
                </div>

                <div *ngIf="connectionStatus === 'close'" class="col-md-4 m-0">
                    <label for="validationDefault03" class="form-label">Closed By</label>
                    <input type="text" class="form-control" formControlName="closed_by"
                        [ngClass]="{'is-invalid': userForm.get('closed_by')?.invalid && userForm.get('closed_by')?.touched, 'blink-border': userForm.get('closed_by')?.invalid && userForm.get('closed_by')?.touched}"
                        id="validationDefault03" placeholder="Enter Closed By">
                    <div class="extra-space">
                        <ng-container
                            *ngIf="userForm.get('closed_by')?.hasError('required') && userForm.get('closed_by')?.touched; ">
                            <span class="text-danger" id="closed_by">Closed By is required</span>
                        </ng-container>
                    </div>
                </div>

                <div *ngIf="connectionStatus === 'reopen'" class="col-md-4 m-0">
                    <label for="validationDefault03" class="form-label">Reopen Date</label>
                    <input type="date" class="form-control" formControlName="reopen_date"
                        [ngClass]="{'is-invalid': userForm.get('reopen_date')?.invalid && userForm.get('reopen_date')?.touched, 'blink-border': userForm.get('reopen_date')?.invalid && userForm.get('reopen_date')?.touched}"
                        id="validationDefault03" placeholder="Enter Reopen Date">
                    <div class="extra-space">
                        <ng-container
                            *ngIf="userForm.get('reopen_date')?.hasError('required') && userForm.get('reopen_date')?.touched; ">
                            <span class="text-danger" id="reopen_date">Reopen Date is required</span>
                        </ng-container>
                    </div>
                </div>


                <div *ngIf="connectionStatus === 'reopen'" class="col-md-4 m-0">
                    <label for="validationDefault03" class="form-label">Reopened By</label>
                    <input type="text" class="form-control" formControlName="reopened_by"
                        [ngClass]="{'is-invalid': userForm.get('reopened_by')?.invalid && userForm.get('reopened_by')?.touched, 'blink-border': userForm.get('reopened_by')?.invalid && userForm.get('reopened_by')?.touched}"
                        id="validationDefault03" placeholder="Enter Reopened By">
                    <div class="extra-space">
                        <ng-container
                            *ngIf="userForm.get('reopened_by')?.hasError('required') && userForm.get('reopened_by')?.touched; ">
                            <span class="text-danger" id="reopened_by">Reopened By is required</span>
                        </ng-container>
                    </div>
                </div>



                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary-light" (click)="activeModal.close()">
                        Close
                    </button>

                    <button class="btn btn-primary" type="submit" [disabled]="isLoading || isSaving">
                        <span *ngIf="!isSaving"> {{ editMode ? 'Update' : 'Save' }}</span>
                        <span *ngIf="isSaving" class="d-flex align-items-center">
                            <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
                            {{ editMode ? 'Updating...' : 'Saving...' }}
                        </span>
                    </button>

                </div>
            </div>
        </form>

    </div>


</div>